<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <div class="logo_area">
                    <a href="#slider_area"><img src="assets/img/logo2.png" alt="Logo" /></a>
                </div>

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

            </div>

            <div class="col-md-8 col-sm-9">
                <nav id="main_menu" class="navbar-right">

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul id="nav" class="nav navbar-nav">
                            <li><a href="#slider_area">Inicio</a></li>
                            <li><a href="#services_area">Servicio</a></li>
                            <li><a href="#/quiero-vender-mi-propiedad">Vender mi Propiedad</a></li>
                            <li><a href="#/quiero-rentar-mi-propiedad">Rentar mi Propiedad</a></li>
                            <li><a href="#contact_area">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<section id="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slide" style="background-image: url(assets/img/slider/1.jpg); background-size: cover;">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content slider-animated-1">
                            <span class="sl_heading animated">Bienvenido a</span>
                            <h2 class="animated"> <span>CASAS</span>RED</h2>
                            <p class="animated">Descrubra cuanto vale su propiedad y obtenga una oferta al instante
                                <br /> HAGA CLIC EN EL BOTON PARA VER SI CALIFICA
                            </p>
                            <a href="#services_area" class="animated btn main_bg_btn">Quiero Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slide text-right"
            style="background-image: url(assets/img/slider/13.png); background-size: cover;">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content slider-animated-3">
                            <span class="sl_heading animated">Esta buscando</span>
                            <h2 class="animated"> <span>Vender su</span> Propiedad</h2>
                            <p class="animated">Podemos comprar su propiedad, sin importar en qué condiciones se
                                encuentre <br /> HAGA CLIC EN EL BOTON PARA VER SI CALIFICA
                            </p>
                            <a href="#/quiero-vender-mi-propiedad" class="animated btn main_bg_btn">Quiero Vender mi
                                propiedad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slide" style="background-image: url(assets/img/slider/12.png); background-size: cover;">
            <div class="container">
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="slider_content text-center slider-animated-2">
                            <span class="sl_heading animated">Le gustaría</span>
                            <h2 class="animated"> <span> Rentar su</span> Propiedad</h2>
                            <p class="animated">Terreno Local Comercial Bodega Nave Casa Departamento<br /> HAGA CLIC
                                EN EL BOTON PARA VER SI CALIFICA
                            </p>
                            <a href="#/quiero-rentar-mi-propiedad" class="animated btn main_bg_btn">Quiero Rentar mi
                                propiedad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services_area" class="contact_area section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <h2>Agencia Inmobiliaria <span>Comercial</span></h2>
                    <div class="sec_divider"></div>
                    <p class="animated">Descrubra cuanto vale su propiedad y obtenga una oferta al instante
                        <br /> HAGA CLIC EN EL BOTON PARA VER SI CALIFICA
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-md-6">

                <div class="row text-center">

                    <div class="col-md-6">

                        <div class="single_about">
                            <div class="about_icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="about_content">
                                <h3>Tiene una Propiedad </h3>
                                <p>¿Esta fea, deteriorada o solo quiere deshacerse de esa propiedad ?
                                    <br />Podemos comprar su propiedad sin importar en qué condiciones se encuentre.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="single_about">
                            <div class="about_icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="about_content">
                                <h3>Profesionales </h3>
                                <p> Trámites Legales Altas Comisiones Costos de Cierre!
                                    <br />¡Podrían pasar meses hasta que esté en condiciones de cotización!

                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row text-center">
                    <br /><a href="#/quiero-vender-mi-propiedad" class="animated btn main_bg_btn">Quiero Vender mi
                        propiedad</a>
                </div>

            </div>

            <div class="col-md-6">

                <div class="row text-center">

                    <div class="col-md-6">
                        <div class="single_about">
                            <div class="about_icon">
                                <i class="fa fa-support"></i>
                            </div>
                            <div class="about_content">
                                <h3>Proceso</h3>
                                <p>¿Qué tal si nos saltamos todo eso? y llegamos a la parte donde mete dinero a su
                                    bolsillo?
                                </p>
                                <br />&nbsp;
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="single_about">
                            <div class="about_icon">
                                <i class="fa fa-paper-plane-o"></i>
                            </div>
                            <div class="about_content">
                                <h3>Estabilidad Financiera </h3>
                                <p>Queremos comprar su propiedad ¡AHORA MISMO!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <br /><a href="#/quiero-rentar-mi-propiedad" class="animated btn main_bg_btn">Quiero Rentar mi
                        propiedad</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="counter_area" class="section_padding"
    style="background-image: url(assets/img/counter-bg.png); background-size: cover; background-attachment: fixed;">
    <div class="container">
        <div class="text-center">
            <div class="col-md-3 col-sm-6">
                <div class="counter-items">
                    <div class="counter_icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="number-number">
                        <span class="counter">850</span>
                    </div>
                    <p class="number-desc">Proyectos de vivienda</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter-items">
                    <div class="counter_icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="number-number">
                        <span class="counter">1278</span>
                    </div>
                    <p class="number-desc">Propiedades entregadas</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter-items">
                    <div class="counter_icon">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <div class="number-number">
                        <span class="counter">6923 </span>
                    </div>
                    <p class="number-desc">Clientes felices</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter-items">
                    <div class="counter_icon">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="number-number">
                        <span class="counter">9999</span>
                    </div>
                    <p class="number-desc">Citas atendidas</p>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="clearfix"></div>

<section id="contact_area" class="contact_area section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <h2>Ponerse en <span>Contacto</span></h2>
                    <div class="sec_divider"></div>
                    <p>Llame a uno de nuestros amables agentes o visitenos en nuestra oficina
                        de ventas para que usted reciba un perfil gratis en minutos.</p>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <div class="row">
                    <div class="single_contact_info">
                        <i class="fa fa-map"></i>
                        <p>+52 (664) 439 2448
                            <br />ventas@casasred.com
                        </p>
                        <br />
                        <p>Blvd. Gustavo Diaz Ordaz 15602 Int 5A Plaza Carrusel La Mesa 22610 Tijuana, B.C. Mexico
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="cform_box">
                    <form autocomplete="off" [formGroup]="contactForm" (ngSubmit)="letsdoit()">
                        <div id="main_form">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" id="name" class="form-control" formControlName="name"
                                            placeholder="Ingrese su Nombre" autocomplete="off" required
                                            maxlength="64" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="email" class="form-control" formControlName="email"
                                            placeholder="Ingrese su email" autocomplete="off" required
                                            maxlength="256" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="phone"
                                            placeholder="Telefono o Whatsapp" autocomplete="off" required minlength="3"
                                            maxlength="16" />
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="subject"
                                            placeholder="Asunto" maxlength="256">
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="message" placeholder="Mensaje"
                                            maxlength="1024"></textarea>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form_btn text-center">
                                        <button type="submit" [disabled]="contactForm.invalid"
                                            class="btn main_bg_btn fbb_btn">
                                            <span class="indicator-label">Enviar Mensaje</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>