<div class="mb-0" id="footer">
    <div class="landing-curve landing-dark-color">
        <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z"
                fill="currentColor"></path>
        </svg>
    </div>
    <div class="landing-dark-bg pt-20">
        <div class="container">
            <div class="row py-10 py-lg-20">
                <div class="col-lg-6 pe-lg-16 mb-10 mb-lg-0">
                    <div class="rounded landing-dark-border p-9 mb-10">
                        <h1 class="text-white">Si tienes dudas o necesitas asesoría personalizada, ponte en contácto con
                            nosotros y te ayudaremos paso a paso en el proceso de tu envío.</h1>
                        <br />
                        <div class="text-center mb-5 mb-lg-10 py-10 py-lg-20 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-top"
                            style="background-image: url(assets/media/logos/whats.png); border-radius: 10px;">
                        </div>
                        <h2 class="lh-base fw-bold fs-2x fs-lg-3x text-white text-center">(664) 120 3150</h2>
                    </div>
                    <a href="https://www.facebook.com/easypacktijuana" target="_blank" class="mb-6">
                        <img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-20px me-2" />
                        <span class="text-white text-hover-primary fs-5 mb-6">Facebook</span>
                    </a>
                    <span class="mx-5 fs-6 fw-semibold text-white pt-1" href="/">&copy; 2023 EasyPack MX</span>
                </div>
                <div class="col-lg-6 ps-lg-16">
                    <!--begin::Navs-->
                    <div class="d-flex justify-content-center">
                        <!--begin::Links-->
                        <div class="d-flex fw-semibold flex-column me-20">
                            <h4 class="text-white mb-6">Sucursal Murúa</h4>
                            <div class="text-white opacity-50 text-hover-primary fs-5 mb-6">Manuel J. Clouthier 18923
                                <br />Campestre Murúa, C.P. 22455
                                <br />(664) 607 6128
                            </div>
                            <h4 class="text-white mb-6">Sucursal Plaza Península</h4>
                            <div class="text-white opacity-50 text-hover-primary fs-5 mb-6">Av. de los Insurgentes 1200
                                <br />Int. 3 y 4, Los Álamos, C.P. 22550
                                <br />(664) 676 6342
                            </div>
                            <h4 class="text-white mb-6">Sucursal Playas de Tijuana</h4>
                            <div class="text-white opacity-50 text-hover-primary fs-5 mb-6">Av. Paseo Playas de Tijuana,
                                338
                                <br />Local 2, Terrazas de Mendoza, C.P. 22504
                            </div>
                        </div>
                        <div class="d-flex fw-semibold flex-column ms-lg-20">
                            <h4 class="fw-bold text-white mb-6">Encuentranos en</h4>
                            <a href="https://www.facebook.com/easypacktijuana" target="_blank" class="mb-6">
                                <img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-20px me-2" alt="" />
                                <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Facebook</span>
                            </a>
                            <a href="https://www.instagram.com/easy_pack_mx" target="_blank" class="mb-6">
                                <img src="assets/media/svg/brand-logos/instagram-2-1.svg" class="h-20px me-2" alt="" />
                                <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Instagram</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>