<div class="mb-lg-n15 position-relative z-index-3" id="comienza">
    <div class="container" style="color: #ed2e38;">
        <div class="d-flex flex-stack flex-wrap flex-md-nowrap card-rounded shadow p-8 p-lg-12 mb-n5 mb-lg-n13"
            style="background: linear-gradient(90deg, #000 0%, #ed2e38 100%);">
            <div class="my-2 me-5">
                <div class="fs-1 fs-lg-2qx fw-bold text-white mb-2">Comienza a enviar tus paquetes Hoy
                    <br /> <span class="fw-normal">Acelerar el desarrollo de tu negocio!</span>
                </div>
                <div class="fs-6 fs-lg-5 text-white fw-semibold opacity-75">Unete a los mas de 400 clientes satisfechos
                </div>
            </div>
            <button id="engage_quote_toggle"
                class="btn btn-lg btn-outline border-2 btn-outline-white flex-shrink-0 my-2">¡Cotizar Ahora!</button>
        </div>
    </div>
</div>