<div class="mb-lg-n15 position-relative z-index-3" id="servicios">
    <div class="container" style="color: #ed2e38;">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="text-center mb-17">
            <h3 class="lh-base fw-bold fs-2x fs-lg-3x mb-15" data-kt-scroll-offset="{default: 100, lg: 150}"
                style="color: #ed2e38;"> Servicio Completo</h3>
            <div class="fs-5 text-dark fw-bold">Somo especialistas en Envíos
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row w-100 gy-10 mb-md-20">
            <div class="col-md-3 px-5">
                <div class="text-center mb-10 mb-md-0">
                    <img src="assets/media/icons/recoleccion.jpg" class="mh-175px mb-9" />
                    <h3 class="fs-2hx mb-5" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #ed2e38;">
                        Recolección</h3>
                    <div class="fw-semibold fs-6 fs-lg-4" style="border-top: solid; color: #ed2e38;">No tienes que salir
                        de casa, nosotros vamos por tus paquetes hasta tu domicilio, no importa la cantidad ni el peso.
                    </div>
                </div>
            </div>
            <div class="col-md-3 px-5">
                <div class="text-center mb-10 mb-md-0">
                    <img src="assets/media/icons/embalaje.jpg" class="mh-175px mb-9" />
                    <h3 class="fs-2hx mb-5" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #ed2e38;">
                        Embalaje</h3>
                    <div class="fw-semibold fs-6 fs-lg-4" style="border-top: solid; color: #ed2e38;">Si no tienes tiempo
                        o materiales para embalar, nosotros empacamos tu producto para ahorrarte tiempo y esfuerzo.
                    </div>
                </div>
            </div>
            <div class="col-md-3 px-5">
                <div class="text-center mb-10 mb-md-0">
                    <img src="assets/media/icons/tramites.jpg" class="mh-175px mb-9" />
                    <h3 class="fs-2hx mb-5" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #ed2e38;">
                        Trámites</h3>
                    <div class="fw-semibold fs-6 fs-lg-4" style="border-top: solid; color: #ed2e38;">Nosotros hacemos
                        las filas por ti, no debes preocuparte por perder tiempo en la aduana, ni por los documentos, ya
                        que realizamos la importación legal de tus
                        productos. </div>
                </div>
            </div>
            <div class="col-md-3 px-5">
                <div class="text-center mb-10 mb-md-0">
                    <img src="assets/media/icons/envio.jpg" class="mh-175px mb-9" />
                    <h3 class="fs-2hx mb-5" data-kt-scroll-offset="{default: 100, lg: 150}" style="color: #ed2e38;">
                        Envío</h3>
                    <div class="fw-semibold fs-6 fs-lg-4" style="border-top: solid; color: #ed2e38;">Nos encargamos de
                        generar la guía de tu envío por la paquetería de tu preferencia y damos seguimiento hasta que tu
                        paquete llegue a su destino.
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>