<section id="title_area" class="section_padding single_slide"
    style="height: 300px; background-image: url(assets/img/slider/12.png); background-size: cover; background-attachment: fixed;">
    <div class="container">
        <div class="single-slide-item-table">
            <div class="slider_content slider-animated-3">
                <div class="logo_area"> <a href="/"><img src="assets/img/logo2.png" alt="Logo" /></a> </div>
                <span class="sl_heading animated">Te gustaría</span>
                <h2 class="animated"> <span> Rentar </span> Casa</h2>
            </div>
        </div>
    </div>
</section>

<section id="payload_area" class="contact_area section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <h2>Ponerse en <span>Contacto</span></h2>
                    <div class="sec_divider"></div>
                    <p>En CASASRED es fácil. Llama a uno de nuestros amables agentes o visitanos en nuestra oficina
                        de ventas para recibir un perfil gratis en minutos.</p>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-4">
                <div class="single_contact_info">
                    <i class="fa fa-phone"></i>
                    <p>Agentes amables
                        <br />+52 (664) 439 2448
                        <br />+52 (664) 632 1627
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="single_contact_info">
                    <i class="fa fa-envelope-o"></i>
                    <p>Trámites o Seguimientos
                        <br />ventas@casasred.com
                        <br /> facturacion@casasred.com
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="single_contact_info">
                    <i class="fa fa-map"></i>
                    <p>Blvd. Gustavo Diaz Ordaz 15602 Int 5A Plaza Carrusel Infonavit La Mesa
                        <br />22610 Tijuana, B.C. Mexico
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-xs-12 center-block">
                <div class="cform_box">
                    <div id="main_form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input name="name" id="name" type="text" placeholder="Nombre" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input name="email" id="email" type="email" placeholder="Correo"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input name="subject" id="subject" type="text" placeholder="Asunto"
                                        class="form-control">
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea name="message" id="comments" placeholder="Mensaje"
                                        class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form_btn text-center">
                                    <input name="submit" id="submit" value="Enviar Mensaje"
                                        class="btn main_bg_btn fbb_btn" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
