<section id="sell_area" class="section_padding sell_single_slide"
    style="background-image: url(assets/img/slider/13.png); background-size: cover;">
    <div class="container">
        <div class="single-slide-item-table">
            <div class="logo_area"> <a href="https://casasred.com"><img src="assets/img/logo2.png" /></a></div>
            <div class="slider_content slider-animated-3">
                <span class="sl_heading">Esta buscando</span>
                <h2 class="animated"> <span>Rentar su</span> Propiedad</h2>
            </div>
        </div>
    </div>
</section>

<section class="section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <h2>Responda algunas preguntas sobre su <span>Propiedad</span></h2>
                    <div class="sec_divider"></div>
                    <p>¡Estamos comprometidos a trabajar con su línea de tiempo y sus necesidades!.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 center-block">
                <div class="cform_box">
                    <div id="main_form">

                        <form autocomplete="off" [formGroup]="propertyForm" (ngSubmit)="moveStep(true)">
                            <div *ngIf="!step">
                                <div class="section_title">
                                    <h3>Apoyenos a construir un mejor plan personalizado en torno a sus necesidades.
                                    </h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label-control">* ¿Qué tipo de propiedad es?</label>
                                            <select class="form-control" formControlName="propertyType">
                                                <option *ngFor="let item of propertyTypes" value="{{ item }}">{{ item |
                                                    titlecase }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label-control">* ¿Esta regularizada o cuenta con
                                                documentación?</label>
                                            <select class="form-control" formControlName="documentation">
                                                <option *ngFor="let item of documentation" value="{{ item }}">{{ item |
                                                    titlecase }}</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label-control">* ¿Cuándo estás buscando rentar?</label>
                                            <select class="form-control" formControlName="targetDate">
                                                <option *ngFor="let item of targetDate" value="{{ item }}">{{ item |
                                                    titlecase }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label-control">* ¿Qué le motiva a rentarla?</label>
                                            <select class="form-control" formControlName="motivation">
                                                <option *ngFor="let item of motivation" value="{{ item }}">{{ item |
                                                    titlecase }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-control">* ¿Cuál es el rango de precio?</label>
                                            <select class="form-control" formControlName="pricesRange">
                                                <option value=""></option>
                                                <option *ngFor="let item of pricesRange" value="{{ item }}">{{ item |
                                                    titlecase }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="label-control">Opcional: Anote detalles adicionales</label>
                                        <textarea class="form-control" formControlName="message"
                                            maxlength="1024"></textarea>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="form_btn text-center">
                                        <button type="submit" [disabled]="propertyForm.invalid"
                                            class="btn main_bg_btn fbb_btn">
                                            <span class="indicator-label">Siguente</span>
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </form>

                        <form autocomplete="off" [formGroup]="rentForm" (ngSubmit)="letsdoit()">
                            <div *ngIf="step">
                                <div class="section_title">
                                    <h3>¿Cuál es la mejor manera de comunicarnos con usted?</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" id="name" class="form-control" formControlName="name"
                                                placeholder="Ingrese su Nombre completo" autocomplete="off" required
                                                minlength="1" maxlength="64" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="email" class="form-control" formControlName="email"
                                                placeholder="Ingrese su email" autocomplete="off" required
                                                maxlength="256" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="phone"
                                                placeholder="Telefono o Whatsapp de negocios" autocomplete="off"
                                                required maxlength="64" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form_btn text-center">
                                            <button type="submit" [disabled]="rentForm.invalid"
                                                class="btn main_bg_btn fbb_btn">
                                                <span class="indicator-label">Enviar Ahora</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>