<div class="mb-lg-n15 position-relative z-index-2 landing-dark-bg" id="nosotros">
    <div class="landing-curve mb-10 mb-lg-200">
        <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z"
                fill="white"></path>
        </svg>
    </div>
    <div class="container">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="row">
            <div class="text-center col-lg-5" style="border-right: solid; color: white;">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h3 class="text-white lh-base fw-bold fs-2x fs-lg-3x mb-15" style=" font-style: italic">
                    ¿Somos una<br />paquetería?
                </h3>
            </div>
            <div class="col-lg-7">
                <p>&nbsp;</p>
                <div class="text-white lh-base fw-bold fs-2x mb-15">Somos más que solo enviar paquetes.
                    <br />Tenemos 7 años de experiencia en el área de la logística.
                    <br />Nos dedicamos al manejo de paquetería local y realizamos envíos nacionales por ti, evitandote
                    las largas filas de la aduana, los contratiempos en el tráfico y los problemas con la falta de
                    documentación de tus productos, apoyandote con todo el trámite administrativo.
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>