<section id="sell_area" class="section_padding sell_single_slide"
    style="background-image: url(assets/img/counter-bg.png); background-size: cover;">
    <div class="container">
        <div class="single-slide-item-table">
            <div class="logo_area"> <a href="/"><img src="assets/img/logo2.png" alt="Logo" /></a> </div>
            <div class="slider_content slider-animated-3">
                <span class="sl_heading">Esta buscando</span>
                <h2 class="animated"> <span>Vender su</span> Propiedad</h2>
            </div>
        </div>
    </div>
</section>

<section class="section_padding bg_white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center wow fadeIn" data-wow-delay=".1s">
                <div class="section_title">
                    <h2>Responda algunas preguntas sobre su <span>Propiedad</span></h2>
                    <div class="sec_divider"></div>
                    <p>¡Estamos comprometidos a trabajar con su línea de tiempo y sus necesidades!.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-xs-12 center-block">
                <div class="cform_box">
                    <form autocomplete="off" [formGroup]="sellForm" (ngSubmit)="letsdoit()">
                        <div id="main_form">
                            <div class="section_title">
                                <h3>De la Propiedad</h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="propertyType">
                                            <option value="">¿Qué tipo de Propiedad es?</option>
                                            <option *ngFor="let item of propertyTypes" value="{{ item }}">{{ item |
                                                titlecase }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="documentation">
                                            <option value="">¿Esta regularizada (documentación)?</option>
                                            <option value="Sí señor, tengo todo en regla">Sí señor, tengo todo en regla
                                            </option>
                                            <option value="Solo debo el recibo de Agua, si pasa, ¿no?">Solo debo el
                                                recibo de Agua, si pasa, ¿no?</option>
                                            <option value="No, fijese que me faltan documentos">No, fijese que me faltan
                                                documentos</option>
                                            <option value="Y sabe qué, perdí todos los documentos">Y sabe qué, perdí
                                                todos los documentos</option>
                                            <option value="¡Es complicado!">¡Es complicado!</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="predial"
                                            placeholder="Si cuenta con Predial, anotarlo" autocomplete="off"
                                            maxlength="64" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control" formControlName="amount"
                                            placeholder="Anote el monto deseado" autocomplete="off" max="9999999" />
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="section_title">
                                <h3>Del Vendedor</h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="name" class="form-control" formControlName="name"
                                            placeholder="Ingrese su Nombre" autocomplete="off" required
                                            maxlength="64" />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" formControlName="email"
                                            placeholder="Ingrese su email" autocomplete="off" required
                                            maxlength="256" />
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <textarea class="form-control" formControlName="message"
                                            placeholder="Detalles adicionales de la Propiedad"
                                            maxlength="1024"></textarea>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form_btn text-center">
                                        <button type="submit" [disabled]="sellForm.invalid"
                                            class="btn main_bg_btn fbb_btn">
                                            <span class="indicator-label">Enviar Mensaje</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-4">
                <div class="single_contact_info">
                    <i class="fa fa-phone"></i>
                    <p>Agentes amables
                        <br />+52 (664) 439 2448
                        <br />+52 (664) 632 1627
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="single_contact_info">
                    <i class="fa fa-envelope-o"></i>
                    <p>Trámites o Seguimientos
                        <br />ventas@casasred.com
                        <br /> facturacion@casasred.com
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="single_contact_info">
                    <i class="fa fa-map"></i>
                    <p>Blvd. Gustavo Diaz Ordaz 15602 Int 5A Plaza Carrusel Infonavit La Mesa
                        <br />22610 Tijuana, B.C. Mexico
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>